<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754615847029-291phduqr2vqh1rrt4lju5bdq72s2mmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754615847029-291phduqr2vqh1rrt4lju5bdq72s2mmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754615847029-1mi0bed8bbkg6l6a89tm2t54g5bks1p7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeiA-roDfnkvzNhklKwTGYvdxxpeNXPB4</string>
	<key>GCM_SENDER_ID</key>
	<string>754615847029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webkul.MobikulMagento-2</string>
	<key>PROJECT_ID</key>
	<string>mobikul-magento2-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mobikul-magento2-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754615847029:ios:3405ac82158f95e2</string>
	<key>DATABASE_URL</key>
	<string>https://mobikul-magento2-app.firebaseio.com</string>
</dict>
</plist>